= form_for @phrase, :html => { :class => 'container' } do |f|
  -if @phrase.errors.any?
    #error_explanation
      %h2= "#{pluralize(@phrase.errors.count, "error")} prohibited this phrase from being saved:"
      %ul
        - @phrase.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :text, :placeholder => 'Question'
  = f.text_field :translation, :placeholder => 'Answer'
  = f.select :list_id, List.all.collect {|l| [ l.title, l.id ] }
  .actions
    = f.submit 'Save'
