= form_tag(new_phrase_path, :method => :get, :id => "create") do
  %input{ :type => "submit", :value => "New Phrase" }

%p#notice= notice

%table.index
  %colgroup
    %col
    %col
    %col
    %col
    %col#remove
  %thead
    %tr
      %th Text
      %th Translation
      %th List
      %th
      %th
  %tbody
    - @phrases.each do |phrase|
      %tr
        %td= phrase.text
        %td= link_to phrase.translation, flash_card_path(phrase)
        %td= phrase.list.title
        %td= link_to 'Edit', edit_phrase_path(phrase)
        %td= link_to '[&nbsp;X&nbsp;]'.html_safe, phrase, :confirm => 'Are you sure?', :method => :delete
